*{
    padding: 0;
    margin: 0;
}

body{
    padding: 20px;
    background-color: whitesmoke;
    color: black;
}

body.dark {
    background-color: black;
    color: whitesmoke;
}

#themeBtn {
    border: none;
    background-color: transparent;
    font-size: 24px;
}

#themeBtn:hover {
    transform: scale(1.25);
}